@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  font-family: 'Inter', sans-serif;
}

@theme {
  --font-sans: 'Inter', sans-serif;
  --font-serif: 'Inter', sans-serif;
  --font-mono: 'Inter', sans-serif;

  /* Corpo da fonte */
  --font-weight-thin: 100;
  --font-weight-extralight: 200;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;
  --color-*: initial;
  --color-black100: rgb(19, 19, 20);
  --color-black200: rgb(31, 31, 33);
  --color-black300: rgb(40, 40, 42);
  --color-black350: rgba(40, 40, 42, 0.5);
  --color-black400: rgb(73, 73, 75);
  --color-black430: rgba(59, 59, 61, 0.3);
  --color-border: rgb(208, 208, 208);
  --color-white_cold: rgb(250, 250, 250);
  --color-white: rgb(255, 255, 255);
  --color-black: rgb(0, 0, 0);
  --color-gray100: rgb(73, 72, 72);
  --color-gray200: rgb(99, 99, 99);
  --color-gray300: rgb(144, 144, 144);
  --color-gray400: rgb(180, 180, 180);
  --color-gray500: rgb(212, 212, 212);
  --color-blue100: rgb(0, 10, 21);
  --color-blue200: rgb(0, 111, 238);
  --color-blue270: rgba(0, 111, 238, 0.7);
  --color-green100: rgb(24, 59, 42);
  --color-green200: rgb(23, 186, 94);
  --color-green370: rgba(23, 214, 106, 0.7);
  --color-yellow100: rgb(68, 52, 29);
  --color-yellow200: rgb(245, 165, 36);
  --color-yellow270: rgba(245, 165, 36, 0.7);
  --color-red100: rgb(238, 18, 18);
  --color-red200: rgb(211, 47, 47);
  --color-red300: rgb(255, 76, 76);
  --color-red170: rgba(238, 18, 18, 0.7);
  --color-pink100: rgb(68, 23, 41);
  --color-pink200: rgb(242, 64, 127);


}